body{
    /* padding:0;
    margin:0; */
    width:100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
    background: linear-gradient(180deg, #306150, 10%, #00ada7, 15%, #000000,rgb(2, 41, 17));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
::-webkit-scrollbar{
      width:0px;

  }
/* html{
        /* scroll-behavior: smooth; */
/* } */
/* *************************************header/navbar************************************ */
/* ***************************************hiddennavebar********************************************************* */
.hide_menu{
    display: flex;
    flex-direction: column;
    display: none;
}
.clickMenu{
    position:relative;
    width:40px;
    top:0;
    left:83%;
    cursor: pointer;
    text-align: center;
    margin: 4px 0;
    color:rgb(4, 242, 0);
    font-size: 2rem;
}
.clickMenu:active{
    text-shadow: 1px 1px 1px rgb(195, 195, 195);
}
.menuShoW{
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    padding:6px 0;
    position:relative;
    top:0;
    left:150%;
    margin:0;
    transition: all .6s linear;
    width:50%;
    
}
.menuShoW li{
list-style: none;
padding:0;
margin: 0;
}
.menuShoW li a{
    text-transform: capitalize;
    text-decoration: none;
    padding:4px 9px ;
    margin:0;
    border-radius: .5rem;
}
/* ************************************************************************************************* */
a{
    text-decoration: none;
    color:rgba(85, 251, 39, 0.756);
}
.header_box{
    border:0px solid black;
    margin:0px;
    height:max-content;
}
.header_box .box1{
    display:flex;
    justify-content:space-between;
}
.header_box .box1 .name_1{
    margin:10px;
    padding:5px;
    font-size:2.5rem;
    letter-spacing:3px;
    font-weight: 800;
    animation-name:nitin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: all 2s linear;
    border:0px solid black;
    /* background:linear-gradient(rgb(180, 97, 97),rgb(118, 118, 212),rgb(145, 208, 145)); */
}
@keyframes nitin{
    0%{
        padding-left:10px;
        font-weight: 900;
        letter-spacing: 6px;
        color:rgb(63, 255, 255);
        opacity: 1;
        text-shadow:1px 2px 3px rgb(5, 4, 4);
    }
    50%{
        opacity:1;
        text-shadow:1px 2px 3px rgb(247, 247, 4);
    }
    100%{
        padding-left:70px;
        font-weight: 900;
        letter-spacing: 7px;
        opacity: 0;
        color:rgb(63, 255, 255);
        text-shadow:2px 1px 2px rgb(0, 0, 0);
    }
} 
button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    cursor: pointer;
    border-radius:.5rem;
  }
  
  button::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
    transform: translate3d(-525%, 0, 0) rotate(35deg);
  }
  
  button:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translate3d(200%, 0, 0) rotate(35deg);
  }

.btn_box .nav_top{
   font-size:2.2rem;
   padding:0;
   padding-right:100px;
   margin:20px;
   font-weight: 100;
   color:rgb(0, 151, 33);
}
.btn_box .nav_top .btn{
    font-size: 1.2rem;
    margin-top:10px;
    margin:5px;
    font-weight: 700;
    text-transform: capitalize;
    border: none;
    padding:5px 20px;
    border-radius:.5rem;
    cursor: pointer;
    background: #08a2aa;
}
.btn_box .nav_top .btn:hover{
    background: rgb(245, 164, 0);
    color:white;
    font-weight: 900;
}

/* ***********************************home********************************************** */

.home_page{
    border:0px solid black;
    padding:0px;
    text-transform: capitalize;
    display:block;
    width:60%;
    margin:auto;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.home_page .heading_line{
    border: 0px solid rgb(226, 217, 206);
    width:100%;
    word-wrap: break-word;
    word-spacing: 4px;
    letter-spacing: 7px;
    line-height: 50px;
    line-break:strict;
    padding:70px 10px ;
    color:rgb(231, 226, 221);

}

.home_page .heading_line .name{
    color:rgb(32, 254, 20);
    font-weight: 900;
    font-size: 2.6rem;
    letter-spacing: 5px;
    cursor: pointer;
    text-shadow: 1px 2px 10px rgb(0, 0, 0);
}
.home_page .heading_line .wlcom{
    font-size:1.9rem;
    padding:0;
    margin:0;
    color:rgb(255, 251, 253);
    text-shadow:1px 2px 2px rgb(43, 42, 42);
    line-height: 100px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border:0px solid black;
    overflow:hidden;
    display:inline-block;
    width:0%;
    height:80px;
    word-wrap: break-word;
    word-break:break-all;
    transition: all 1s linear;
}
@keyframes move {
    0%{
       width:0px;
       color:rgb(147, 135, 135);
    }
    50%{
        width:100px;
        color:rgb(251, 13, 13);
        word-spacing:2px;
    }
    100%{
      width:600px;
      color:rgb(255, 230, 0);
      word-spacing: 6px;
    }
}


  
/* *******************************about_page********************************************** */

.about_page{
    /* border:1px solid rgb(255, 237, 237); */
    text-align: center;
    margin:4rem 0;
    font-weight: 800;
    /* display: flex; */
    
}
#about_heading {
    color:#65bedf78;
    font-size: 3rem;
    text-shadow: 2px 3px 1px rgb(0, 0, 0);
    margin:0; 
}

.about_page .artical{
    border:0px solid rgb(255, 255, 255);
    display:flex;
    gap:10px;
    flex-direction: column;
    margin:0;
    padding:15px 0;
    transition: all 2s linear;
}
.about_page .artical p{
    color:rgb(22, 4, 4);
    border:0px solid black;
    margin:0;
    text-align: justify;
    font-size:1.7rem;
    word-spacing: 6px;
    line-height: 50px;
    padding:10px;
    word-wrap: normal;
    word-break: keep-all;
    line-break: loose;
    overflow: hidden;
}
strong{
    color:rgb(124, 124, 30);
    font-size: 2.3rem;
}
.image_container{
    width:100%;
    /* border:1px solid black; */
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition:  transfrom 1s linear;
    padding-left:10px;  
    display: flex;
    justify-content: center;
    align-items:center;  
}
.box_content{
    height:400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform-style: preserve-3d;
    transition: transform 1s linear;
}
img{
    width:350px;
    height:350px;
    transform-style:preserve-3d;
    transition: transform 1s linear;
    /* border-radius: 25% 10%; */
    border-radius:50%;
    padding:0 100px;
}
.back{
    display: flex;
    align-items: center;
    width:100%;
    height:350px;
    padding:0 0px;
    position:absolute;
}
.project_resume{
    padding:5px;
    width:100%;
    margin: 60px 0;
}
.project:hover{
    outline: 1px solid white;
    transition: all .6s linear;
}
.project{
    width:70%;
    margin:40px; 
    color:white;
    text-transform: capitalize;
    margin:auto;
    display: flex;
    flex-direction: column;
    border-radius: .7rem;
    background: #000;
    box-shadow: 1px 1px 3px grey;
}
.project p{
    text-transform: capitalize;
    padding: 0 10px;
}
.project .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0;
}
.box p{
font-size: 1.6rem;
padding:10px;
text-transform: capitalize;
color: #00ccff;
}
.project h2{
    color:rgb(17, 244, 17);
}
.project i{
font-size: 1.5rem;
cursor: pointer;
padding:10px;
text-transform: capitalize;
color:white;
}
.imgBox img{
    height:200px;
    width:200px;
    margin:40px 0;
}
.box i:hover{
    color:greenyellow;
}
.projects{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap:100px;
}
.iconBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:30px 0;
}
.rusume{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px 0;
    padding:20px 0;
}
.MainResume{
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 2px grey;
    border-radius: .5rem;
    width:30%;
    color:white;
}
.MainResume img{
    width:200px;
    height:200px;
    margin:30px 0 ; 
}
.download{
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download button{
    padding:7px;
    background: blue;
    color: white;
}
.download button a i{
    color:rgb(0, 255, 0);
    padding:0 10px;
}
.experties h3{
    color:rgb(249, 255, 245);
    text-shadow: 1px 1px 2px rgb(60, 255, 60);
    text-align: center;
    font-size: 2rem;
    padding:10px;
    margin:20px;
    font-weight: 900;
    text-transform: capitalize;
    display:block;
  }
  .experties .icon{
       display:flex;
       justify-content:space-around;
       padding:30px;
       margin:40px;
       flex-wrap: wrap;
       gap:20px;
  }
  .experties .icon i{
    color:white;
    cursor: pointer;
    font-size: 3.4rem;
    padding:50px;
  }
  .experties .icon i:nth-child(1):hover{
     text-shadow: 2px 2px 15px yellow;
  }
  .experties .icon i:nth-child(2):hover{
    text-shadow: 2px 2px 10px rgb(153, 162, 255);
 }
 .experties .icon i:nth-child(3):hover{
    text-shadow: 2px 2px 10px rgb(255, 150, 64);
 }
 .experties .icon i:nth-child(4):hover{
    text-shadow: 2px 2px 20px rgb(255, 0, 0);
 }
 .experties .icon i:nth-child(5):hover{
    text-shadow: 2px 2px 15px rgb(255, 33, 148);
 }
 .experties .icon i:nth-child(6):hover{
    text-shadow: 2px 2px 13px violet;
 }
 .experties .icon i:nth-child(7):hover{
    text-shadow: 2px 2px 10px rgb(252, 252, 52);
 }
 .experties .icon i:nth-child(8):hover{
    text-shadow: 2px 2px 10px rgb(0, 244, 0);
 }
 .experties .icon i:nth-child(9):hover{
    text-shadow: 2px 2px 20px rgb(74, 231, 255);
 }

 .experties .icon i i{
    position:relative;
    left:-40px;
    top:10px;
    display: none;
    font-size:20px;
 }
 .experties .icon i:nth-child(1):hover i{
   display:block;
 }

 .experties .icon i:nth-child(2):hover i{
    display:block;
  }

  .experties .icon i:nth-child(3):hover i{
    display:block;
  }
  .experties .icon i:nth-child(4):hover i{
    display:block;
  }
  .experties .icon i:nth-child(5):hover i{
    display:block;
  }
  .experties .icon i:nth-child(6):hover i{
    display:block;
  }
  .experties .icon i:nth-child(7):hover i{
    display:block;
  }
  .experties .icon i:nth-child(8):hover i{
    display:block;
  }
  .experties .icon i:nth-child(9):hover i{
    display:block;
  }

table{
    margin:2rem 0;
    width:100%;
    color:rgb(255, 204, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    text-transform: capitalize;
}
table th{
    padding:10px;
    border: 2px solid rgb(255, 255, 255);
    color:rgb(252, 4, 4);
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
}
table td{
    border: 2px solid white;
    text-transform: capitalize;
    font-size: 1.7rem;
}
#clg_mark{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(251, 161, 25);
    text-transform: capitalize; 
    padding:0;
    margin:0; 
    text-transform: capitalize;
}
.table_heading{
    font-size:2rem;
    padding:5px;
    border: 0px solid black;
    background: #bdafaf;
    color:rgb(0, 0, 0);
    width:50%;
    margin:auto;
    border-radius: 5rem;
    margin-top:5rem;
    text-transform: capitalize;
}
/* ********************************contact*********************************************** */
.contact{
    text-align: center;
    text-transform: capitalize;
    /*background: #fc3434; */
    border:0px solid rgb(249, 210, 210);
    padding:10px;
}
.contact .contact_page{
 display:grid;
 grid-template-columns: 1fr 1fr 1fr;
 padding:5px;
}
.contact .contact_heading{
    color:rgb(253, 223, 223); 
    padding:10px; 
    font-size:2.3rem;
    
}
.contact .contact_para{
    font-size: 1.2rem; 
    margin-top:15px; 
    padding-left:10px;
    padding-right:20px;
    font-weight: 900; 
    color:rgb(255, 255, 255);
    letter-spacing: 2px;
}
.user{
   display:block;
   width:100%;
   padding:4px;
   margin:10px 0;
   font-size: 1.3rem;
   outline: none;
   transition: all 1s linear;
}
.user:nth-child(4){
    color:rgb(255, 238, 238);
    background: #00ccff;
    border-radius: .2rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.user:nth-child(4):hover{
    background: #59ff00;
    color:black;
    border: 1px solid black;
}
.feedback{
    display:flex;
    flex-direction: column;
}
/* ****************************footer_end************************************************ */
@media (max-width:550px){
    ::-webkit-scrollbar{
        width:0px;
    }
    body{
        background: linear-gradient(180deg, #124534, 4%, #00beb8, 25%, #000000,rgb(29, 38, 71));
    }

    html{
        overflow-x: hidden;
    }
    .hide_menu{
        display: flex;
        flex-direction: column;
    }
    .clickMenu:active{
        text-shadow: 1px 1px 1px rgb(195, 195, 195);
    }
    .menuShoW{
        display: flex;
        justify-content: flex-end;
        justify-content: space-around;
        padding:6px 0;
        position:relative;
        top:0;
        left:110%;
        margin:0;
        transition: all .6s linear;
        width:50%;  
    }
    .menuShoW li{
    list-style: none;
    padding:0;
    margin: 0;
    }
    .menuShoW li a{
        text-transform: capitalize;
        text-decoration: none;
        padding:4px 9px ;
        margin:0;
        border-radius: .5rem;
    }
    .clickMenu{
        position: relative;
        width: 40px;
        top: 0;
        left: 85%;
        cursor: pointer;
        text-align: center;
        margin: 10px 0;
        color: rgb(4, 242, 0);
        font-size: 2.1rem;
    }

    .header_box .box1{
       display:block;
       overflow-x: hidden;
       /* overflow: hidden; */
    }
    .header_box .box1 .name_1{
        font-size: 1.5rem;
        overflow-x: hidden;
        
    }

    .btn_box .nav_top{
        font-size:2rem;
        display:flex;
        justify-content: end;
        margin:0;
        padding-right:10px;
        overflow-x: hidden;
    
     }
     .home_page{
        padding-left:10px;
        width:100%;
        margin-bottom: 0rem;
        margin-top: 0rem;
        overflow-x: hidden;
    
    }
    .home_page .heading_line{
        width:100%;
        word-wrap: break-word;
        word-spacing: 4px;
        letter-spacing: 7px;
        line-height: 50px;
        padding: 60px 3px;
        overflow-x: hidden;
      
    }
    .home_page .heading_line .wlcom{
        font-size:1.5rem;
        letter-spacing: 1px;
        overflow-x: hidden;

    }
    .about_page .artical{
        display:flex;
        flex-direction:column;
        overflow-x: hidden;
        
    }
    .about_page .artical p{
        color:rgb(128, 150, 157);
        text-align:justify;
        word-spacing: 0px;
        line-height: 40px;
        padding:6px;
        font-size: 1rem;
        overflow-x: hidden;
    }
    .image_container img{
        width:300px;
        height: 300px;
        border-radius: 50%;

    }
    #about_heading {
        color:#65bedf78;
        font-size: 2rem;
        text-shadow: 2px 3px 1px rgb(0, 0, 0);
        margin:40px 0 ; 
    }
    .back{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height:350px;
        padding:10px;
        position:absolute;
        /* transform: rotateY(180deg); */
    }
    .projects{
        display: grid;
        grid-template-columns: 1fr;
        gap:70px;
    }
    .imgBox {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgBox img{
        height:150px;
        width:150px;
        /* margin:40px 0; */
    }
    .contact .contact_page{
     display:flex;
     flex-direction:column;
     overflow-x: hidden;
    }
    .contact .contact_heading{
        font-size:2rem;
        color:rgb(2, 205, 205); 
        overflow-x: hidden;
    }
    .experties h3{
        color:rgb(104, 224, 6);
        font-size: 2rem;
        padding:10px;
        margin:20px;
        font-weight: 900;
        text-transform: capitalize;
        display:block;
      }
      .experties .icon{
          display:flex;
         justify-content: space-around;
           padding:10px;
           margin:40px;
      }
      .experties .icon i{
        color:white;
        cursor: pointer;
        font-size: 1.5rem;
        padding:0 6px;
      }
}

